body{
    width: 100%;
    margin: 0 auto;
    font-family: Verdana,Arial,sans-serif;
    
}
header{
    width: 100%;
    margin: 0 auto;
    background-color: #ffb400;
    height: 130px;
}
.content-menu-head-top{
    float: right;
    margin-top: 10px;
}
.content-menu-head-top ul,.menu-items>ul{
    list-style-type: none;
    margin: 0 auto;
}
.content-menu-head-top ul li{
    float: right;
    margin: 0 15px;
}
.content-menu-head-top>ul>li>a,.menu-items>ul>li>a{
    text-decoration: none;
}
nav{
    clear: both;
    background-color: #ffb400;
    line-height: 73px;
    height: 73px;
    margin-left: 15px;
    margin-right: 15px;
}
nav>span{
    font-size: large;
    text-shadow: 2px 2px gray;
}
.logo{
    
    margin-top: 0 auto;
    float: left;
}
nav .logo img{
    margin-top: 23px;
}

.menu-buttons{
    float: right;
}
.menu-items>ul>li{
    float: left;
    margin: 0 20px;
    
}
nav .menu-buttons button{
    border-width: 2px;
    border-style: solid;
    border-radius: 3px;
    color:#fff;
    font-size: 14px;
    text-transform: uppercase;
    margin-left: 25px;
    padding: 10px 25px;
}

nav .menu-buttons .btn-contact{
    background-color: transparent;
    border-color: #1a363c;
    
}
nav .menu-buttons .btn-book{
    background-color: #e71a0f;
    border-color: #e71a0f;
}
footer{
    clear: both;
    width: 100%;
    height: 250px;
    line-height: 30px;
    margin: 0 auto;
    font-size: 14px;
    font-weight: normal;
    background-color:grey;
}
footer .introduce,.terms{
    float: left;
    margin: 0 20px;
}
footer .follow-us,.customer-service{
    float: right;
    margin: 0 20px;
}
footer>div>ul{
    list-style-type: none;
}
footer>div>ul>li>a{
    text-decoration: none;
}
footer .follow-us img{
    height: 30px;
}
footer div ul{
    margin-left: -30px;
}